header nav{
  display: none;
}

#mobile-nav{
  margin: auto 0;
  display: block;
  cursor: pointer;
}

#mobile-nav div{
  width: 35px;
  height: 3px;
  background-color: aliceblue;
  margin: 6px 0;
  transition: 0.4s;
}

.open .item1{
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .item2{
  opacity: 0;
}

.open .item3{
  -webkit-transform: rotate(45deg) translate(-6px, 8px);
  transform: rotate(45deg) translate(-6px, 8px);
}

.open .for_mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.for_mobile{
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.for_mobile li{
  margin-top: 5px;
  background-color: rgba(51, 51, 51, 1);
}

.one {
    width: 336px;
    height: 189px;
    display: inline-block;
}

.two {
    width: 336px;
    height: 189px;
    display: inline-block;
}

.DM {
    width: 336px;
    height: 336px;
    display: inline-block;
}

/* #three {
    width: 560px;
    height: 315px;
    display: inline-block;
}

#four {
    width: 560px;
    height: 315px;
    display: inline-block;
} */

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#siesta {
    margin: auto;
    width: 100%;
}

.latest{
    width: 336px;
    height: 189px;
    display: inline-block;
}

.second_latest{
    width: 336px;
    height: 189px;
    display: inline-block;
}

#link1{
    display: none;
}

#link2{
    display: none;
}

.hyperlink{
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    color: white;
}

#link3{
    display: none;
}

#link4{
    display: none;
}

.sticky {
    cursor:default;
    color:#000;
    text-decoration:none;
    position: relative;
    display: block;
  }
  
  .sticky{
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .sticky{
      transition: opacity .5s;
      -o-transition: opacity .5s;
      -ms-transition: opacity .5s;
      -moz-transition: opacity .5s;
      -webkit-transition: opacity .5s;
  }

  .sticky:hover {
    opacity:0;
  }
  .sticky:hover {
    opacity:1;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
}

li {
  display: inline-block;
  margin-right: 20px;
  color:whitesmoke;
}

li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

a, a:visited{
  color: whitesmoke;
  text-decoration: none;
}

header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main_link {
  border-radius: 5px;
  padding: 5px 8px;
}

#main_link {
  border: 1px solid red;
}

#main_link a {
  color: red;
}

p span{
  background-color: black;
  font-weight: 200;
  font-size: large;
}
span{
  background-color: black;
}

@media only screen and (min-width: 900px) {
    #siesta {
    width: 25%;
    margin: auto;
    }

    .images {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    }

    .one{
        position: relative;
        padding-bottom: 0%; 
        width: 560px;
        height: 315px;
      }
      .one iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
      }
      
      .two{
        position: relative;
        padding-bottom: 0%; 
        width: 560px;
        height: 315px;
      }
      .two iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
      }

      .latest{
        position: relative;
        padding-bottom: 0%; 
        width: 560px;
        height: 315px;
      }
      
      .second_latest{
        position: relative;
        padding-bottom: 0%; 
        width: 560px;
        height: 315px;
      }

    #link1{
        display: inline-block;
    }
    
    #link2{
        display: inline-block;
    }
    
    .hyperlink{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        color: white;
    }
    
    #link3{
        display: inline-block;
    }
    
    #link4{
        display: inline-block;
    }

    #neon {
        width: 400px;
        height: 300px;
        padding-bottom: 2.5%;
    }

    .DM{
        position: relative;
        padding-bottom: 2.5%; 
        width: 540px;
        height: 960px;
      }
      .DM iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
      }
    
    body.main{
      background-image: url('files for site/astronaut.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
  }
    body.baenyebe{
      background-image: url('files for site/iroh.jpg');
      background-size: cover;
      background-position: center;
  }
    body.youtube_vids{
      background-image: url('files for site/clear water view.jpg');
      background-size: cover;
      background-position: center;
  }
    body.misc{
      background-image: url('files for site/hk at night.jpg');
      background-size: cover;
      background-position: center;
  }

    ul{
      list-style: none;
      background-color: blueviolet;
      padding: 10px;
      margin: 0;
      text-align: center;
    }

    ul li{
      display: inline-block;
    }

    ul a{
      text-decoration: none;
      color: aliceblue;
      width: 100px;
      padding: 15px 10px;
      font-size: 15px;
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
      text-transform: capitalize;
    }

    ul li:hover{
      background-color: aqua;
    }

    header nav{
      display: block;
    }

    #mobile-nav{
      display: none;
    }

    .for_mobile{
      display: none;
    }
}

@media only screen and (max-width: 900px) {
  body {
    background-image: url('files for site/mobile-background.jpg');
    background-size: contain;
    background-position: center;
  }
}
  /* @media only screen and (min-width: 1081px) {
    .images {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
  } */
/* .auto-update { 
    background:#ccc; padding:10px;}
p { text-align:center; }
p span { display:inline-block; background:rgb(0, 0, 0); padding:5px; text-align: center;} */